*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
.container{
    max-width: 1140px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

/* basic propraty */
.justifly-content{
    justify-content: space-between;
}
.justifly-center{
    justify-content: center;
}
.justifly-around{
    justify-content: space-around;
}
.align-items{
    align-items: center;
}
.padding80{
    padding:100px;
}
.padding-t-80{
    padding:100px;
    padding-top: 0;
}
ol,ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.rubik{
    font-family: 'Rubik Bubbles'
}


/* header */
.header{
    padding: 10px 0px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    background-color: #3d3d3d;
}
.header .logo h2{
   color: white;
   font-size: 35px;
}
.header .logo p{
    color: white;
    font-size: 15px;
    padding-top: 12px;
    font-family: 'Rubik Bubbles';
}
.header .search #value{
    width: 600px;
    padding: 10px 10px;
    box-shadow: 0px 0px 15px #3d3d3d55;
    border: none;
    outline: none;
    border-radius: 5px 0px 0px 5px;
}
.header .search input::placeholder{
    font-size: 16px;
}
.header .search #search{
    padding: 10px 13px;
    font-size: 14px;
    border: none;
    outline: none;
    background-color: #fc4b46;
    color: white;
    box-shadow: 0px 0px 15px #3d3d3d37;
    border-radius: 0px 5px 5px 0px;

}
nav > ul > li{
    padding: 0px 25px;
    font-family:Arial, Helvetica, sans-serif;
}
nav ul li a{
    color: var(--primary-100);
    font-weight: 600;
    font-size: 15px;
    color: #3d3d3d;
}

.cart{
    font-size: 20px;
    color: white;
}
.cart span{
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background-color: white;
    color:#3d3d3d;
}
.cart i:nth-child(1){
    padding-right: 30px;
    font-size: 20px;
}
/* second-header */
.second-header{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    padding: 15px 0px;
}
nav ul li .dropdown li{
    padding: 7px 0px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 500;
}
nav ul li .dropdown{
    position: absolute;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 150px;
    padding: 10px 10px;
    visibility: hidden;
    opacity: 0; 
    transition: all 0.5s;
    top:160px;
    background-color: var(--white);
    z-index: 1;
} 
nav ul li:hover .dropdown{
    visibility: visible;
    opacity: 1;  
    top:110px;

}
/* pages */

.pages{
    background-image: url(../images/wp10721633.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}
#form{
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(20px);
    background-position: bottom;
    background-repeat: no-repeat;
    border-radius: 40px;
    width: 800px;
    padding: 20px 40px;
    border: 2px solid white;
  

}
.form-control{
    margin-bottom: 10px;
    position: relative;
}
.form-control label{
    display: block;
    color: white;
    font-weight: bold;
    font-size: 18px;
    font-family: sans-serif;
}
.form-control input{
    width: 100%;
    padding: 8px 10px;
    border-radius: 8px;
    margin-top: 8px;
    outline: none;
    border: 2px solid rgb(220, 171, 171);
}
.form-control input:focus{
    border: 2px solid #4d4a4a;
}
.form-control small{
    color: #dc3545;
    font-size: 14px;
    margin-top: 4px;
    display: block;
    font-family: sans-serif;
    font-weight: 400;
    visibility: hidden;
}
.form-control.error small{
    visibility: visible;
}
.form-control i{
    position: absolute;
    right: 12px;
    top:34px;
    visibility: hidden;
}
.form-control.success i.fa-circle-check {
    color: #28a745;
    visibility: visible;
}
.form-control.error i.fa-circle-exclamation {
    color: #dc3545;
    visibility: visible;
}

.form-control.success input{
    border: 2px solid #28a745;
}
.form-control.error input{
    border: 2px solid #dc3545;
}

/* sweet alert box */
.sweet-alert{
    width: 300px;
    border-radius: 100%;
    border: 1px solid white;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #3d3d3d;
}
.sweet-alert h2{
    color: white;
}
.sweet-alert p {
    color: white;
}
.sweet-alert button {
    background-color: #fc4b46 !important;
}
.sweet-alert .sa-icon.sa-success::before{
    background-color: transparent;
}
.sweet-alert .sa-icon.sa-success::after{
    background-color: transparent;
}
.sweet-alert .sa-icon.sa-success .sa-fix{
    background-color: transparent;
}
.text-center{
    text-align: center;
}
.sweet-alert .sa-icon.sa-success .sa-line {
    background-color: #fc4b46;
}
.sweet-alert .sa-icon.sa-success {
    border-color: #fc4b46;
}
#form .order{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: white;
    padding: 20px 0px;
}
#form button{
    margin:auto ;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: #fc4b46;
    border: none;
    color: white;
    font-size: 18px;
}





